@import "../flexbox"

.navigation-item-action-bar {
  flex(0 0 40px);
  flexbox();
  flex-direction(columns);
  background: green;
}

.navigation-item-action-bar__back-button {
  flex(1);
  height: 100%;
  width: 100%;  
  background: orange;
  display: block;
}

.navigation-item-action-bar__actions {
  flex(0 40px);
  flexbox();

  flex-align-items center;
  flex-justify-content center;
}


.navigation-item-action-bar__title {
  flex(1);
  text-align: center;
}

