@import "../flexbox"

$navigation-item-action-bar__top-margin = 5px;
$navigation-item-action-bar__side-margin  = 5px;

.navigation-item-action-bar {
  position: relative;
  min-height: 45px;
}


.navigation-item-action-bar__back-button {
  height: 100%;
  display: block;

  > svg {
    width: 20px;
    height: 20px;
    padding-top: 8px;
  }
}

.navigation-item-action-bar__actions {
  position: absolute;
  z-index: 2;

  > a {
    cursor: pointer;
    display: inline-block;
    height: 30px;

    > * {
      pointer-events: none;
    }
  }

  &:empty {
    display: none;
  }
}

.navigation-item-action-bar__actions-left {
  top: $navigation-item-action-bar__top-margin;
  left: $navigation-item-action-bar__side-margin;
}

.navigation-item-action-bar__actions-right {
  top: $navigation-item-action-bar__top-margin;
  right: $navigation-item-action-bar__side-margin;

  > a {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.navigation-item-action-bar__title {
  text-align: center;
}

