.tabbar-item {
  flex(0 100%);
  flexbox();

  flex-align-items(flex-end);
  flex-justify-content(center);

  list-style: none;
  background: blue;
  display: inline;
}

.tabbar-item.selected {
  font-weight: bold;
}
