@import "../flexbox"

.tabbar-item {
  flex(0 100%);
  flexbox();

  flex-align-items(flex-end);
  flex-justify-content(center);

  list-style: none;
}

.tabbar-item--selected {
  font-weight: bold;
}
