@import "../flexbox"

.tabbar__content-container {
  > * {
    height: 100%;
    width: 100%;
  }
}

.tabbar__items {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.tabbar__items-container {
  display: inline-block;
  padding-top: 5px;
}
