@import "../flexbox"


.tabbar__content-container {
  flex(1);

  > * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}


.tabbar__items {
  flex(0 0 60px);
  flexbox();  

  padding: 0px;
  margin: 0px;

}
